<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="tests/bootstrap.php">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="./tests/logs/coverage.xml"/>
            <html outputDirectory="./tests/logs/coverage"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="./tests/logs/testdox.html"/>
    </logging>
</phpunit>
